:root {
  --cl-inter-blue: #001EA0;
  --cl-inter-black: #000000;
  --cl-inter-yellow: #FFDC3C;
  --cl-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  background-color: var(--cl-inter-blue);
  color: var(--cl-white);
  font-family: system-ui, sans-serif;
}

p {
  margin-bottom: 8px;
  padding: 4px;
}

.header {
  grid-area: header;
  /* background-color: var(--cl-inter-blue); */
}

.navbar {
  background-color: hsla(229, 100%, 31%, .8);
}

.nav-link {
  color: var(--cl-white);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  color: var(--cl-white);
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  color: var(--cl-white);
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
  size: clamp(1rem, 5vw, 2rem);;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--cl-inter-black);
  color: var(--cl-white);
  padding: 10px;
  /* margin-bottom: 5rem; */
}

.social-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social-links i {
  margin: 0 10px;
  padding: 0;
  font-size: 1rem;
  color: var(--cl-white);
}

.hero {
  grid-area: hero;
  background-image: url('img/ICM Group.jpg');
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--cl-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroname {
  font-size: clamp(1.5rem, 5vw + 2.5rem , 10rem);
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  text-shadow: 4px 4px 4px var(--cl-inter-black);
}

.article {
  grid-area: article;
  padding: 20px;
  text-align: center;
  background-image: url('img/InterClub.jpg');
  background-size: contain;
  background-position: center;
}

#name {
  color: var(--cl-white);
  font-size: clamp(1.5rem, 5vw + 1.5rem , 4rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 2px var(--cl-inter-black);
}

#subname {
  color: var(--cl-white);
  font-size: clamp(1.25rem, 5vw + 1rem , 3rem);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px var(--cl-inter-black);
  margin-bottom: 3rem;
}

.mainbuttons {
  display: flex;
  justify-content: center;
}

#mainlink {
  text-decoration: none;
  }
  
#join {
  background-color: var(--cl-inter-yellow);
  color: var(--cl-inter-blue);
  box-shadow: 5px 5px 5px 0px var(--cl-inter-black);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  padding-inline: 1.5rem;
  border-radius: 10px;
  border: solid var(--cl-inter-yellow);
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
  transition: all 350ms ease-in-out;
}

  #join:hover {
  background-color: transparent;
  color: var(--cl-white);
  font-weight: bold;
}

.aside {
  grid-area: aside;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  background-color: var(--cl-inter-black);
  color: var(--cl-white);
}

#recent {
  color: var(--cl-white);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
}

.social {
  grid-area: social;
  padding: 20px;
  text-align: center;
  background-image: url('img/Coroniamo Sogno.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#touch {
  margin-bottom: 10rem;
  color: var(--cl-white);
  font-weight: bolder;
  text-shadow: 4px 4px 4px var(--cl-inter-black);
}

.social-button {
  background-color: var(--cl-inter-blue);
  color: var(--cl-white);
  font-weight: bold;
  padding: 10px;
  padding-inline: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.social-button:hover {
  background-color: var(--cl-white);
  color: var(--cl-inter-blue);
  font-weight: bold;
}

.team {
  grid-area: team;
  padding: 20px;
  text-align: center;
  background-color: var(--cl-inter-blue);
  color: var(--cl-white);

  /* background-image: url(img/zebraPattern.svg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.contact {
  grid-area: contact;
  padding: 20px;
  background-color: var(--cl-inter-yellow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  color: var(--cl-inter-blue);
  font-weight: bold;
  padding-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-form-items {
  padding: 5px;
  margin-block: 0.5rem;
}

#form-message {
  padding-bottom: 5rem;
}

#form-submit {
  align-self: center;
  padding-inline: 1.5rem;
}

@media (min-width: 800px) {
  .grid-container-home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(50vh, 100vh) auto; 
    grid-template-areas:
      'header header header'
      'hero hero hero'
      'article article aside'
      'team team team'
      'social social social'
      'contact contact contact'
      'footer footer footer'
  }

  .contact-form-items {
    margin-inline: 14rem;
  }
}

@media (max-width: 800px) {
  .grid-container-home {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(50vh, 100vh) auto;
    grid-template-areas:
    'header'
    'hero'
    'article'
    'aside'
    'team'
    'social'
    'contact'
    'footer';
  }

  .contact-form-items {
    margin-inline: 4rem;
  }
}

/* Elements for leadership/member page */

/* .image {
  grid-area: image;
  padding: 20px;
  text-align: center;
  background-color: var(--cl-inter-black);
  color: var(--cl-white);
}

.board {
  grid-area: board;
  padding: 20px;
  text-align: center;
  background-color: var(-cl-inter-blue);
  color: var(--cl-white);
} */