/* General styles */
:root {
  --cl-inter-blue: #011ea0;;
  --cl-inter-black: #000000;
  --cl-inter-yellow: #FFDC3C;
  --cl-white: #FFFFFF;
  --cl-blue-focus: hsla(229, 100%, 31%, 0.8);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  height: 100vh;
  font-family: system-ui, sans-serif;
  line-height: 1.25;
  color: var(--cl-white);

  display: grid;
  overflow-x: hidden;
  background-color: var(--cl-inter-blue);
}

.container {
  max-width: 1200px;
  padding: 1rem 1rem;
  margin: 0 auto;
}

p {
  margin-bottom: 8px;
  padding: 4px;
}

h1, h2, h3 {
  font-size: clamp(1rem, 5vw + 1rem , 2rem);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
} 

/* Header/navbar - Responsive design*/
.header {
  grid-area: header;
  min-height: max-content;
}

#navbar {
  --navbar-height: 12vh;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--cl-blue-focus);
  left: 0;
  right: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--cl-white);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: all 200ms ease;
}

.home-link:is(:focus, :hover) {
  color: var(--cl-inter-yellow);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.4em;
  border-radius: 5px;
  font-weight: 700;
}

.navbar-link:is(:focus, :hover) {
  color: var(--cl-inter-yellow);
  /* background-color: var(--cl-blue-focus); */
  font-weight: 700;
}

.navbar-logo {
  border-radius: 50%;
  margin-inline-start: 0.5em;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--cl-white);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--cl-inter-yellow);
  transition: all 300ms ease-in-out;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
  opacity: 0;
  transition: all 300ms ease;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
  background-color: var(--cl-blue-focus);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
  padding: 1em;
}

.navbar-brand {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--cl-inter-black);
  margin-inline-start: 1rem;
}

/* Footer */
.footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--cl-inter-black);
  color: var(--cl-white);
  padding: 10px;
  /* margin-bottom: 5rem; */
}

.social-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  padding-block: 1rem;
}

.social-links i {
  margin: 0 10px;
  padding: 0;
  font-size: 1rem;
  color: var(--cl-white);
}

/* Main Content sections */
.hero {
  grid-area: hero;
  background-image: url('img/Group.jpg');
  /* padding: 2rem; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* overflow: hidden; */

  display: flex;
  justify-content: center;
  align-items: center;
}

#heroname {
  font-size: clamp(1.5rem, 5vw + 2rem , 8rem);
  font-weight: bolder;
  /* text-align: center;
  vertical-align: middle; */
  text-shadow: 3px 3px 3px var(--cl-inter-black);
}

.article {
  grid-area: article;
  padding: 20px;
  text-align: center;
  background-image: url('img/InterClub.jpg');
  background-size: contain;
  background-position: center;

  display: flex;
  flex-direction: column;
}

#name {
  color: var(--cl-white);
  font-size: clamp(1.5rem, 5vw + 1.5rem , 4rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 2px var(--cl-inter-black);
}

#subname {
  color: var(--cl-white);
  font-size: clamp(1.25rem, 5vw + 1rem , 3rem);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px var(--cl-inter-black);
  margin-bottom: 3rem;
}

.mainbuttons {
  display: flex;
  justify-content: center;
}

#mainlink {
  text-decoration: none;
  }
  
#join {
  background-color: var(--cl-inter-yellow);
  color: var(--cl-inter-blue);
  box-shadow: 5px 5px 5px 0px var(--cl-inter-black);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  padding-inline: 1.5rem;
  border-radius: 10px;
  border: solid var(--cl-inter-yellow);
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
  transition: all 300ms ease-in-out;
}

  #join:hover {
  background-color: transparent;
  color: var(--cl-white);
  font-weight: bold;
}

.aside {
  grid-area: aside;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  background-color: var(--cl-inter-black);
  color: var(--cl-white);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

#recent {
  color: var(--cl-white);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

.social {
  grid-area: social;
  padding: 20px;
  text-align: center;
  background-image: url('img/Coroniamo Sogno.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#touch {
  color: var(--cl-white);
  font-weight: bolder;
  padding-bottom: 5rem;
  padding-inline: 1rem;
  border-radius: 2rem;
  text-shadow: 4px 4px 4px var(--cl-inter-black);
}

.social-main-container {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-main-container i {
  background-color: var(--cl-blue-focus);
  font-size: clamp(1rem, 5vw + .5rem, 1.5rem);
  padding: 1rem;
  /* margin-inline: 1rem; */
  border-radius: 3rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.social-button-large:hover, .social-button-large:focus {
  background-color: var(--cl-white);
  color: var(--cl-inter-blue);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  /* font-weight: bold; */
  transition: all 200ms ease-in-out;
}

.team {
  grid-area: team;
  padding: 1rem;
  text-align: center;

  /* background-color: var(--cl-inter-blue);
  color: var(--cl-white); */

  /* background-image: url(img/zebraPattern.svg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.member {
  grid-area: member;
  padding: 20px;
  background-color: var(--cl-inter-black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#member {
  color: var(--cl-inter-blue);
  font-weight: bold;
  padding-bottom: 1rem;
}

.about {
  grid-area: about;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 800px) {
  .grid-container-body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(100vh, 100vh) auto; 
    grid-template-areas:
      'header header header'
      'hero hero hero'
      'article article aside'
      'team team team'
      'member member member'
      'social social social'
      'about about about'
      'footer footer footer'
  }

  #navbar-toggle, #navbar-toggle[aria-expanded='false']  {
    display: none;
    transition: all 200ms ease-in-out;
  }

  #navbar-menu, #navbar-toggle[aria-expanded='false'] + #navbar-menu, #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: flex;
    height: 100%;
  }

  #navbar-toggle[aria-expanded='false'] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .grid-container-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(80vh, 100vh) auto;
    grid-template-areas:
    'header'
    'hero'
    'article'
    'aside'
    'team'
    'member'
    'social'
    'about'
    'footer';
  }

  .navbar-links{
    background-color: var(--cl-inter-black);
    transition: all 300ms ease-in-out;
    margin-block: 10rem;
  }
}